body{
    height: 100vh;
    width: 100vw;
    /* background-color: #808080; */
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}

#cursorDiv{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    margin: 10px;
    display: grid;
    place-items: center;
    transition: background-color 0.5s ease;
    border: 1px solid white ;
}

#Header{
    width: 100vw;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    transition: background-color 0.5s ease;
}

